body { 
    font-family: Arial, sans-serif; 
    background-color: hsl(210, 85%, 29%);  
    padding: 20px; 
}
#mood-form { 
    margin-bottom: 20px; 
}

@media (max-width: 600px){
    #mood-form input, #mood-form button {
        width: 100%;
        margin: 5px 0;
    }
}
input { 
    padding: 10px; 
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button { 
    background-color: hsla(72, 62%, 24%, 0.807); 
    padding: 10px 15;
    margin-bottom: 10px; 
    border-radius: 4px; 
    border: none;
    cursor: pointer;
    color: white;
}
   
button:hover { 
    background-color: blue;

}

#mood-list{
    margin-top: 20px;
}
.mood-entry {
    border: 1px solid rgb(129, 47, 128);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #37a4a0;
}
.mood-entry p,
.mood-entry span {
    margin: 5px 0;
}
#quote-container {
    margin: 20px 0;
    font-style: italic;
}
#location-info {
    margin: 20px;
    
}
#history-back {
    margin-top: 10px;
}
canvas {
    margin-top: 20px;
};
#mood-chart {
    max-width: 100%;
    height: auto;
}